.pagination_container{
    gap: 30px;
    color: rgb(7, 202, 7);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 2rem;
   /*  background-color: black; */
    border-radius: 30px;
    border: 1px solid darkgoldenrod;
    margin:0px;
    background-image: url("../../../images/tapa_detail.jpg");
}

.pagination_container a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: bold;
    color: rgb(150, 34, 59);
    font-size: 1rem;

    padding: 8px 16px;

    background-color: gray;
    border-radius: 3px;
    margin: 10px;
}    

.pagination_container a:hover {
  
    color: goldenrod;
}
