.loader {
    margin-bottom: 0rem;
   color:antiquewhite ;
    letter-spacing: 0.1cm;
    margin:0.5rem 4rem 5rem 16rem;
}

.image_container{
     width: 30rem;
}

.title{
   /*  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  justify-content:center;
    align-items: flex-start;  

    color:blueviolet;
    background-color: #0f0f0f;
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 30px goldenrod, 0 0 30px goldenrod, 0 0 30px goldenrod, 0 0 30px goldenrod;
    padding: 10px;
    border-radius: 10px;
    font-size: 22px;
    max-width: 20rem;
    max-height: 4rem; 
    width: 100vh;
    margin-top:-30rem;
    margin-left: 10rem;
    margin-right: 7rem;  
    */
}